<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Tech Plaza</title>
    <!-- base:css -->
    <link rel="stylesheet" th:href="@{vendors/typicons.font/font/typicons.css}">
    <link rel="stylesheet" th:href="@{vendors/css/vendor.bundle.base.css}">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{css/vertical-layout-light/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{images/favicon.png}" />
  </head>
  <body>
    <div class="row" id="proBanner">
      <div class="col-12">
        <span class="d-flex align-items-center purchase-popup">
          <p>Get tons of UI components, Plugins, multiple layouts, 20+ sample pages, and more!</p>
          <a th:href="@{https://www.bootstrapdash.com/product/celestial-admin-template/?utm_source=organic&utm_medium=banner&utm_campaign=free-preview}" target="_blank" class="btn download-button purchase-button ml-auto">Upgrade To Pro</a>
          <i class="typcn typcn-delete-outline" id="bannerClose"></i>
        </span>
      </div>
    </div>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav th:replace="partials/fragment::navbar"></nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
       <div th:replace="partials/fragment::setting-panel"></div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav th:replace="partials/fragment::sidebar"></nav>	
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            
            <div class="row  mt-3">
              <div class="col d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                      <h4 class="card-title mb-3">Thống Kê Doanh Thu</h4>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          
                          <div class="col-lg-6">
                            <ul class="session-by-channel-legend">
                              <li>
                                <div>Tổng doanh thu</div>
                                <div><span th:text="${session.tongloinhuan}" th:unless="${session == null}"></span>$</div>
                              </li>
                              
                               <li>
                                <div>Lợi Nhuận:</div>
                                <div><span th:text="${session.tongloinhuan1}" th:unless="${session == null}"></span>$</div>
                              </li>
                              
                               <li>
                                <div>Tháng 1:</div>
                                <div><span th:text="${session.thang1}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 2:</div>
                                <div><span th:text="${session.thang2}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 3:</div>
                                <div><span th:text="${session.thang3}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 4:</div>
                                <div><span th:text="${session.thang4}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 5:</div>
                                <div><span th:text="${session.thang5}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 6:</div>
                                <div><span th:text="${session.thang6}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 7:</div>
                                <div><span th:text="${session.thang7}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 8:</div>
                                <div><span th:text="${session.thang8}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 9:</div>
                                <div><span th:text="${session.thang9}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 10:</div>
                                <div><span th:text="${session.thang10}" th:unless="${session == null}"></span>$</div>
                              </li>
                              
                              <li>
                                <div>Tháng 11:</div>
                                <div><span th:text="${session.thang11}" th:unless="${session == null}"></span>$</div>
                              </li>
                               <li>
                                <div>Tháng 12:</div>
                                <div><span th:text="${session.thang12}" th:unless="${session == null}"></span>$</div>
                              </li>
                              
                             
                              
                           <!--   <li>
                                <div>Servers(233)</div>
                                <div>2(100%)</div>
                              </li>
                              <li>
                                <div>Firewalls(3)</div>
                                <div>7(100%)</div>
                              </li>
                              <li>
                                <div>Firewalls(3)</div>
                                <div>6(70%)</div>
                              </li>-->
                              
                           
                            </ul>
                          </div>
                           <div class="col-lg-6">
							    <h4 class="card-title mb-3">Thống Kê Sản Phẩm</h4>
                   
                            <ul class="session-by-channel-legend">
                              
                              <li>
                                <div>Tổng số sản phẩm</div>
                               <div><span th:text="${session.tongsanpham}" th:unless="${session == null}"></span></div>
                             </li>
                             <li>
                                <div>Tổng số danh mục sản phẩm</div>
                               <div><span th:text="${session.categorynum}" th:unless="${session == null}"></span></div>
                             </li>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           
            </div>
              
       
          </div>
          
          <!-- product-->
          
          
            <div class="row  mt-3">
              <div class="col d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                      <h4 class="card-title mb-3">Thống Kê Sản Phẩm</h4>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          
                          <div class="col-lg-6">
                            <ul class="session-by-channel-legend">
                              
                              
                               <li th:each="product:${listproduct}">
                                <div><span th:text="${product.product_name}"></span></div>
                               <div><span th:text="${product.current_quantity}"></span>(tồn kho)</div>
                               
                                </li>
                           
                             
                              
                       
                           
                            </ul>
                          </div>
                          
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           
            </div>
              
       
          </div>
          
          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © <a th:href="@{https://www.bootstrapdash.com/}" target="_blank">bootstrapdash.com</a> 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a th:href="@{https://www.bootstrapdash.com/}" target="_blank">Bootstrap dashboard </a>templates from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script th:src="@{vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script th:src="@{js/off-canvas.js}"></script>
    <script th:src="@{js/hoverable-collapse.js}"></script>
    <script th:src="@{js/template.js}"></script>
    <script th:src="@{js/settings.js}"></script>
    <script th:src="@{js/todolist.js}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script th:src="@{vendors/progressbar.js/progressbar.min.js}"></script>
    <script th:src="@{vendors/chart.js/Chart.min.js}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script th:src="@{js/dashboard.js}"></script>
    <!-- End custom js for this page-->
  </body>
</html>