<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment::head"></head>

<body>

    <!-- Start Header Area -->
	<header th:replace="fragment::header1"></header>

	<!-- End Header Area -->

    <!-- Start Banner Area -->
    <section th:replace="fragment::banner"></section>
    <!-- End Banner Area -->

    <!--================Blog Categorie Area =================-->
  <div class="container">
	  <div class="text-center">
		  <h2>Congratulations!!!You have registered successfully as a customer.</h2>
		  <p>Please check your email.</p>
	  </div>
	  
  </div>
    <!--================Blog Categorie Area =================-->

    <!--================Blog Area =================-->
   
    <!--================Blog Area =================-->

    <!-- start footer Area -->
    <footer th:replace="fragment::footer"></footer>
    <!-- End footer Area -->

  <div th:replace="fragment::script"></div>


</body>

</html>